/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #2196f3;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #023d91;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--offWhite);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-secondary {
  background-color: #f5f5f5;
  color: #394144;
  padding: 0.4rem 0.9rem;
}
.double-button-widget {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 1.875rem;
  margin-right: auto;
  margin-left: auto;
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
.white-text {
  color: var(--mainWhite);
}
.head-service {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 20;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  margin-left: 4rem;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 300px;
}
/* recently cars slider */
.rooms-title {
  text-align: center;
}
.item,
h3 {
  color: #023d91;
  font-size: 25px;
}
.cars-title {
  text-align: center;
}
/* testimonal section */
.testimonal {
  padding: 5rem 0;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
}

.container .card {
  position: relative;
  width: 600px;
  height: 350px;
  margin: 20px;
  display: flex;
  transition: 0.5s;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(45deg, #1a2f3f, #7094ce);
  border-radius: 10px;
}

.container .card img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  transition: 0.5s;
}
.container .card:hover img {
  left: 73%;
  height: 500px;
  z-index: 2;
}
.container .card .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 3;
}
.container .card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.container .card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.2em;
  line-height: 1em;
}
.container .card .content h2 p {
  color: #fff;
}
.container .card .content a {
  position: relative;
  color: #111;
  background: #fff;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 700;
}

/* slider section */
.slider {
  background-color: white;
  /* width: 960px;
  height: 100px; */
  overflow: hidden;
  position: relative;
  margin: auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  background: #f7f8fb !important;
}

.slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}
.slider::before {
  top: 0;
  left: 0;
}
.slider::after {
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
}
.slider .slider-track {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 40s infinite linear;
  background: #f7f8fb !important;
}

.slider .slide img {
  width: 185px;
  height: 150px;
  opacity: 0.3;
  padding: 2rem;
}
.slider .slide img:hover {
  width: 185px;
  height: 150px;
  opacity: 1;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
/* about */

.paragraph {
  line-height: 2.1875rem;
}
.about-middle {
  width: 80%;
}
.info-paragraph {
  text-align: center;
  /* padding-bottom: 1.3125rem;
  padding-top: 1.3125rem; */
  width: 60%;
  padding: 25px 50px;
  /* margin-bottom: 20px; */
  color: #10131d;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0;
}
.info-btn {
  margin: 5px;
}
.widget {
  margin-top: 5.8125rem;
  padding: 50px 50px;
  width: 80%;
}
.flexcolwrap {
  display: flex;
  margin-top: -20px;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 0px solid #d4d4d4;

  border-radius: 10px;
  color: #023d91;
  padding: 50px 50px;
  position: relative;
  margin: 100px;
}
.grey-back {
  background: #d4d4d4;
}
.flex3col {
  width: 33.333%;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
.flex3col h4 {
  margin: 10px;
}
.refer3col {
  width: 50%;
}
.refer3col h4 {
  margin: 10px;
}
.small-p {
  margin: 10px;
}
.col {
  width: 33%;
}
.col h4 {
  margin: 10px;
}
.tabs-vertical {
  background-color: black;
}

.tab {
  display: block;
  color: #fff;
  border-radius: 4px;
  padding: 26px 29px 22px 36px;
  /* transition: all .1s ease-out; */
  height: 100%;
}
/* Contact us */
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: var(--darkGrey);
  position: relative;
}
.width-adjust {
  width: 50%;
}
.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #1a2f3f, #7094ce);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -24px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--primaryColor);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 5;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 5;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: var(--darkGrey);
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1a2f3f, #7094ce);

  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid var(--mainBlack);
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1a2f3f, #7094ce);
  /* linear-gradient(45deg, ) */
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

/* delivery service */
.text-image__base {
  box-sizing: border-box;
  width: 100%;
  max-width: 81.25rem;
  /* margin-left: auto;
  margin-right: auto;
  padding: 1.875rem; */
}

h2:first-child {
  margin-top: 0;
}

.img-container-block {
  display: block;
}
.img-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.img-car {
  height: auto;
  width: 50%;
}
.feature-box__image-container {
  position: absolute;
  bottom: 9.25rem;
  right: 0;
  width: calc(40% + 190px);
  max-width: none;
  -webkit-transform: translate3d(190px, 0, 0);
  transform: translate3d(190px, 0, 0);
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: -2rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .nav-header img {
    width: 100%;
  }
  /* contact width */
  .width-adjust {
    width: 70%;
  }
  .footer_links {
    width: 100%;
    max-width: 1000px;
    display: inline;
    justify-content: center;
  }
  .footer_link-wrapper {
    display: inline;
  }
  .footer_container {
    /* background-color: var(--primaryColor); */
    background-color: var(--mainBlack);
    padding: 5rem 35px;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flexcolwrap {
    margin: 100px;
  }
  .flex3col {
    width: 100%;
  }
}

/* end of navbar */
p {
  line-height: 1.5;
}
/* Hero */

.defaultHero,
.roomsHero,
.aboutHero {
  min-height: calc(100vh - 66px);
  background: url("./images/car-audi.jpg") center/cover no-repeat;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/car-audi.jpg") center/cover no-repeat; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-start;
}
.roomsHero {
  background-image: url("./images/car-foreign-1.jpg");
  min-height: 60vh;
}
.aboutHero {
  background-image: url("./images/car-inside.jpg");
  min-height: 60vh;
}
.referralHero {
  background-image: url("./images/car-luxury-group.jpg");
  min-height: 60vh;
  background-color: var(--primaryColor);
  background-position: center;
}
.contactHero {
  background-image: url("./images/car-sale-keys.png");
  min-height: 60vh;
  background-color: var(--primaryColor);
  background-position: center;
  background-size: contain;
}
.deliveryHero {
  background-image: url("./images/car-key.jpg");
  min-height: 60vh;
  background-color: var(--primaryColor);
  background-position: center;
  background-size: cover;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  /* background: rgba(0, 0, 0, 0.5); */
  color: var(--mainWhite);
  padding: 2rem 1rem;
  /* text-align: center; */
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);

  background: var(--mainBlack);
  border-radius: 4px;
  margin-left: 32px;
  margin-top: 113px;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 24px 56px 40px;
}
.banner h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.banner div {
  /* width: 10rem; */
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Banner reffeeral */
.hero-wrapper {
  max-width: 1450px;
  margin-right: auto;
  margin-left: auto;
}
.image-feature {
  background-image: url("./images/car-girls.jpg");
  min-height: 80vh;
  background-color: var(--primaryColor);
  background-position: center;
}
.responsive-inner {
  transform: translateY(85%);
  margin: 25px;
}
.banner-2 {
  display: inline-block;
  /* background: rgba(0, 0, 0, 0.5); */
  color: var(--mainWhite);
  padding: 2rem 1rem;
  /* text-align: center; */
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);

  background: var(--mainBlack);
  border-radius: 4px;
  margin-right: 32px;
  margin-top: 113px;
  -webkit-justify-content: center;
  justify-content: center;
  /* padding: 24px 56px 40px; */
  width: 40%;
  /* top: 55%;
  right: 5%; */
  /* transform: translateY(145%); */
  opacity: 0.9;
}
.banner-2 img {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.banner-2 div {
  /* width: 10rem; */
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner-2 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
    opacity: 0.8;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .banner-2 {
    /* transform: translateY(75%); */
    padding: 2rem 2rem;
    opacity: 0.9;
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .nav-links {
    margin-left: 4rem;
  }
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
  .banner-2 {
    /* transform: translateY(90%); */
    opacity: 0.9;
    padding: 2rem 2rem;
    width: 40%;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
.section-title p {
  /* width: 5rem; */
  /* height: 5px; */
  margin: 0 auto;
}
.fleet p {
  width: 80%;
  padding: 50px 50px;
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: linear-gradient(45deg, #1a2f3f, #7094ce);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(255px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
.service {
  background: #fff;
  border-radius: 10px;
  color: #023d91;
  padding: 50px 50px;
  position: relative;
}

@media screen and (min-width: 992px) {
  .services-center {
    /* width: 95vw; */
    max-width: 1170px;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }

  .flex3col {
    width: 33.333%;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
@media (max-width: 1024px) {
  .col {
    width: 100%;
  }
}
@media (max-width: 991px) {
  /* testimonal */
  .container .card {
    width: auto;
    max-width: 600px;
    align-items: flex-start;
  }
  .container .card:hover {
    height: 600px;
  }
  .container .card:hover img {
    left: 50%;
    height: 350px;
  }
  .container .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}
@media (max-width: 767px) {
  /* testimonal */
  .container {
    flex-direction: column;
  }
  .container .card {
    margin: 40px 20px;
  }
  .flex3col {
    width: 100%;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .responsive-inner {
    transform: translateY(20%);
    margin: 0px;
  }

  element.style {
  }
  .img-container:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .flexcolwrap {
    margin: 10px;
  }
}
@media (max-width: 420px) {
  .img-container {
    position: relative;
  }
  .feature-box__image-container {
    position: absolute;
    bottom: 78.25rem;
    right: 0;
    width: calc(40% + 190px);
    max-width: none;
    transform: translate3d(16px, 0, 0);
  }
  .banner {
    padding: 2rem 3rem;
    opacity: 0.8;
    margin: 35px;
  }
  .banner-2 {
    padding: 2rem 2rem;
    width: 80%;
    /* transform: translateY(90%); */
  }
  .info-paragraph {
    text-align: center;
    width: 100%;
  }
  /* testimonal */
  .container .card .content {
    padding: 30px;
  }
  .container .card:hover img {
    height: 300px;
  }
  .width-adjust {
    width: 80%;
  }
  .flexcolwrap {
    display: flex;
    margin-top: -20px;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 0px solid #d4d4d4;
    background: #d4d4d4;
    border-radius: 10px;
    color: #023d91;
    padding: 20px;
    position: relative;
    margin: 20px;
  }

  .img-car {
    height: auto;
    width: 50%;
  }
}
@media (max-width: 560px) {
  .banner-2 {
    width: 100%;
    margin-right: 32px;
    margin-top: 45px;
  }
  .flexcolwrap {
    margin: 20px;
  }
  .info-paragraph {
    text-align: center;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .responsive-inner {
    transform: translateY(0%);
    margin: 0px;
  }
  .banner-2 {
    padding: 2rem 1rem;
    width: 100%;
  }
  .banner-2 {
    display: inline-block;
    border-radius: 4px;
    margin-right: 32px;
    margin-top: 0px;
    justify-content: center;
    /* padding: 24px 56px 40px; */
    width: 90%;
    /* transform: translateY(145%); */
    opacity: 0.9;
  }
}
/* end of rooms fitler*/

/* Contact us */
@media (max-width: 850px) {
  .refer3col {
    width: 100%;
  }
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
  .tabs-vertical {
    background-color: black;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
